* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
}

header {
    background: #003366;
    color: white;
    padding: 15px;
}

.logo {
    width: 60px;
    margin-right: 15px;
}

.nav {
    display: flex;
    align-items: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: linear-gradient(to right, #0059b3, #0073e6);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.content {
    padding: 30px 20px;
    max-width: 1000px;
    margin: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

.jurusan {
    background: white;
    padding: 20px;
    margin-top: 15px;
    border-left: 5px solid #0073e6;
    border-radius: 8px;
}

footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    header h1 {
        font-size: 18px;
    }
    nav {
        text-align: center;
    }
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}

.materi {
    margin-top: 15px;
    padding-left: 20px;
}

.materi li {
    margin-bottom: 8px;
    background: #fff;
    padding: 8px;
    border-left: 4px solid #0073e6;
    border-radius: 5px;
}
